<%- include ('partials/header.ejs') %>
  </head>
  <body>
    <%- include ('partials/navigation.ejs') %>

    <main>
      <h1>Page not found</h1>
      <p>Go back to <a href="/">Shop</a></p>
    </main>
    
<%- include ('partials/footer.ejs') %>
