<%- include ('partials/header.ejs') %>
  </head>
  <body>
    <%- include ('partials/navigation.ejs') %>

    <main>
      <h1>Something went wrong</h1>
      <p>We're working on fixing this. Sorry for the inconvenience</p>
    </main>
    
<%- include ('partials/footer.ejs') %>
