<%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/navigation.ejs') %>

    <main>
      <h1>Your Orders</h1>
    </main>

<%- include ('../partials/footer.ejs') %>